@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Oswald);

/* Retira o fundo do tema padrao */
.page{
    background: none !important;
}

body{
    font-family: "Open Sans", sans-serif !important;
}
h1,h2,h3,h4{
    font-family: "Oswald", sans-serif !important;
}

.header-container{
    height: 170px;
}

.header-container img{
    width:  190px;
}
.header-container img:hover{
    opacity: 0.8;
    transition: 1s;
}

.carrinho-icon{
    /* <img src="https://elitecolec.lojablindada.com/media/./icons/meucarrinho.png" alt="" />*/
    background-image: url("https://elitecolec.lojablindada.com/media/./icons/cart.png");
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 50px;
    background-size: 40px;
}
.icon-top{
    color: #A56401;
}

/* <img src="" alt="" /> */
.fale-conosco-icon{
    background-image: url("https://elitecolec.lojablindada.com/media/./icons/contact-us.gif");
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 50px;
    background-size: 40px;
}

.header .links{
    margin-top: 48px;
}

tr th{
    color: #fff;
    background-color: #C96A0A ;
}



/* */
.form-search input[type="text"]{
    display: inline !important;
    width: 210px !important;
    padding: 8px !important;
}

input[type="text"], textarea{
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

select{
    display: block;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}



/* menu */
.nav-container {
    display: none;
}

#nav li a{
    color: #fff !important;
    transition: 0.2s;
}

#nav li a:hover{
    box-shadow: 0 -2px 0 #000;
    color: #000 !important;
}

/* Sidebar */
.inicio{
    background-image: url('https://elitecolec.lojablindada.com/media/./icons/home.png');
    background-repeat: no-repeat;
    padding-left: 25px !important;
    padding-top: 4px !important;
}

.col-left.sidebar ul{
    font-size: 14px;
}
li.level-top {
    font-size: 14px;
    border-bottom: 1px dashed #ccc !important;
    margin-bottom: 10px !important;
    padding: 5px 7px;
    font-weight: 700;
    cursor: pointer;
}
li.level-top a{
    color: #222222;
}

li.level-top:hover{

}
li.level-top a:hover{
    color: #A56401;
}



li.level-top ul li a{
    display: block;
    font-size: 14px;
    text-decoration: none;
}
li.level-top ul li{
    color: #000 !important;
    margin-left: 13px !important;
    padding: 4px 0px !important;

}

.col-left.sidebar ul li ul{
    border: none !important;
}

ul.level-top{

}



/** itens menu **/
.products-grid{
    border-bottom: none;
    margin-bottom: 20px !important;
    text-align: center;
}


.products-grid li.item{
    float: left;
    width: 164px;
    height: 340px;
    padding: 12px 0px 80px !important;
    margin: 0 4px 0 0;
    border: 1px solid #cccccc;
    font-size: 12px !important;
}
.products-grid li.item:hover{
    box-shadow: 0px -1px 10px #86816F !important;
}
.products-grid li.item .product-image img{
    width: 150px;
}

.col-main{
    margin-top: 10px !important;
}

.products-grid .product-image {
    border: none;
}
.item.first{
    text-align: center;
}

.title-categorias{
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 3px #000;
    padding: 10px;
    border-radius: 3px;
    background-color: #ec971f;
    border-top: 2px solid #000;
   /* background: #ffa84c;
    background: -moz-linear-gradient(top,  #ffa84c 0%, #aa5f0a 99%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa84c), color-stop(99%,#aa5f0a));
    background: -webkit-linear-gradient(top,  #ffa84c 0%,#aa5f0a 99%);
    background: -o-linear-gradient(top,  #ffa84c 0%,#aa5f0a 99%);
    background: -ms-linear-gradient(top,  #ffa84c 0%,#aa5f0a 99%);
    background: linear-gradient(to bottom,  #ffa84c 0%,#aa5f0a 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#aa5f0a',GradientType=0 );
    */
}




/** Geral **/
.ocultar{
    display: none;
}


/** form **/
.form-search{

}


/*slider*/
.img-slider{
    width: 100% !important;
    height: 390px !important;
}

.slick-prev{
    left: 1% !important;
}
.slick-next{
    right: 1% !important;
}

.top-link-checkout{
    display: none;
}


/*menu user*/
.quick-access .links{
    display: none ;
}
.container-menu-top{
    background-color: #ec971f;
    text-align: center !important;
    min-height: 32px;
    line-height: 24px;
}
.container-menu-top ul{
    display: inline-flex;
    margin-bottom: 0 !important;
    margin-right: 80px;
}
.container-menu-top ul li{
    padding-left: 20px;
    padding-top: 5px;

    color: #fff !important;
    font-size: 11px;
}

.container-menu-top ul li a{
    color: #fff !important;
    font-size: 11px;
    text-shadow: 1px 1px 3px #525050;
}

#menu-telefone{
    background: url(https://elitecolec.lojablindada.com/media/./icons/telefone2.png) no-repeat 0% 70%;
    background-size: 16px;
    text-shadow: 1px 1px 3px #525050;
}
#menu-email{
    background: url(https://elitecolec.lojablindada.com/media/./icons/mail.png) no-repeat 0% 70%;
    background-size: 16px;
    margin-left: 15px;
    text-shadow: 1px 1px 3px #525050;
}


/*//
<img src="https://elitecolec.lojablindada.com/media/./icons/facebook.png" alt="" />       //*/
.redes-youtube{
    background: url(https://elitecolec.lojablindada.com/media/./icons/youtube.png) no-repeat 0% 50%;
    padding-left: 30px!important;
}
.redes-youtube:hover{
    background: url(https://elitecolec.lojablindada.com/media/./icons/youtube-hover.png) no-repeat 0% 50%;
    transition: .4s;
}

.redes-face{
    background: url(https://elitecolec.lojablindada.com/media/./icons/facebook.png) no-repeat 0% 50%;
    margin-left: 15px;
    padding-left: 30px!important;
}

.redes-face:hover{
    background: url(https://elitecolec.lojablindada.com/media/./icons/facebook-hover.png) no-repeat 0% 50%;
    transition: .4s;
}


/*botao comprar*/
.add-to-cart input[type="text"]{
    height: 24px !important;
}
.add-to-cart .btn-cart{
    margin-left: 10px !important;
}

.btn-cart{
    display: inline-block !important;
    padding: 1px 8px !important;
    margin-bottom: 0 !important;
    font-size: 14px !important;
    font-weight: 400;
    line-height: 1.42857143 !important;
    text-align: center !important;
    white-space: nowrap !important;
    vertical-align: middle !important;
    -ms-touch-action: manipulation !important;
    touch-action: manipulation !important;
    cursor: pointer !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none;
    user-select: none !important;
    background-image: none !important;
    border-radius: 4px !important;

    color: #fff !important;
    background-color: #eea236 !important;
    border: #BA7E2A 1px solid !important;
}

.btn-cart:hover{
    background-color: #BA7E2A !important;
    border: 1px solid #eea236;
}


/*imagens produtos*/
#image{
    width: 260px;
}

/*pagina carrinho de compras*/
.col-sm-4 .discount{
    border-radius: 20px;
    /*background-color: #B08721 !important;*/

}
.col-sm-4 .discount h2,.shipping-container h2{
    font-size: 20px !important;
}
.col-sm-4 .discount label{
    font-size: 12px !important;
}

.shipping-container{
    border: 1px solid #ccc;
    /*background-color: #B08721 !important;*/
    border-radius: 20px;

}

.shipping-container label{
    font-size: 12px !important;
}


/* botao lista de desejos */
.link-wishlist{

}

/* tab */
.ui-widget-content a{  color: #947439;}

.ui-widget-header {
    border: 1px solid #aaaaaa;
    color: #222222;
    font-weight: bold;
    background: #fff !important;
    font-family: Oswald;
}


.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited{
    color: #818181;
}
.ui-tabs-active.ui-state-active a{
    color: #fff !important;
}

/*
.ui-state-default.ui-corner-top a:hover {
    color: #fff !important;
    background-color: rgb(111, 110, 109) !important;

}
*/

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border-top: 2px solid rgb(58, 59, 61);
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active a{
    background-color: #ec971f !important;
}


/* tela produto*/
.add-to-box .add-to-cart{
    display: inline-flex;
}
.add-to-box #qty{
    margin-right: 10px;
}

.availability.in-stock{font-weight: bold}
.availability.in-stock span{
    color: #686DCA;
}

/* tela categoria especifica e pesquisa */
.page-title.category-title h1{
    border-bottom: 1px solid #BA9841;
}

.category-products .toolbar{
    border-bottom: 1px solid #BA9841;
    margin-bottom: 10px;
}
.pager .limiter{
    float: left !important;
    text-align: left;
}

.pager.col-sm-8{
    margin: 0 !important;
}

.pager .pages {
    margin: 0 !important;
}

.pager .current{
    padding: 7px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
    color: rgb(174, 170, 162);
}



/* footer */
.footer{
    border-top: 1px solid #ccc;
    margin-top: 5%;
}
.footer ul li {
    display: block;
    margin-left: 10px;
}

.inline-footer{
    text-align: left !important;
}
.inline-footer li{
    display: inline !important;
}

.footer-container{
    background-color: #FDFCFC;
    height: auto;
}

.footer-container .links.col-sm-12 li{
    display: inline !important;
}

.links.col-sm-12{
    border-top: 1px solid #ccc;
    margin-top: 30px;
}

.footer-container .block-content{
    background-color: #FDFCFC; !important;
}
.block-content label{
    font-size: 12px;
}

.col-sm-3.text-left ul{
    text-align: left;
}


.block.block-tags{
  display: none;
}

.block.block-subscribe .block-title{
    display: none;
}

/** button span geral
.button:first-child{
    height: auto !important;
    display: inline-block !important;
    padding: 1px 8px !important;
    margin-bottom: 0 !important;
    font-size: 14px !important;
    font-weight: 400;
    line-height: 1.42857143 !important;
    text-align: center !important;
    white-space: nowrap !important;
    vertical-align: middle !important;
    touch-action: manipulation !important;
    cursor: pointer !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none;
    user-select: none !important;
    background-image: none !important;
    border-radius: 4px !important;

    color: #fff !important;
    background-color: #eea236 !important;
    border: #BA7E2A 1px solid !important;
}
**/

.button span{
    background: #9B7525 !important;
    color: #fff !important;
}

.button span span {
    background: #9B7525 !important;
}


/* Cabecalho page */
.page-head h2{
    border-bottom: 1px solid #9B7525;
}


.block-content{
    background: #fff !important;
}
.block-title{
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 3px #000;
    padding: 10px;
    border-radius: 3px;
    background-color: #ec971f !important;
    border-top: 2px solid #000;
}

/** btnfechar  <img src="https://elitecolec.lojablindada.com/media/./icons/icone-fechar.gif" alt="" />*/
.btn-remove{
    background: url(https://elitecolec.lojablindada.com/media/./icons/icone-fechar.gif) no-repeat !important;
    background-size: 10px !important;
}

/* Acerta css de labels de produto configuravel */
#product-options-wrapper label.required{
    text-transform: uppercase;
    background-color: rgba(29, 21, 21, 0.01);
}

#shopping-cart-totals-table td.a-left{
    border-bottom: 1px solid #ccc;
}


.fieldset .legend{
    font-size: 15px !important;
    background: #FFFFFF !important;
}


ul.level0{
    display: none;
}

.out-of-stock{
    background-color: rgb(203, 32, 32);
    color: #fff !important;
    padding: 4px;
}

.special-price{
    color: green;
    font-weight: bold;
    font-size: 17px;
}